<div class="page-header">
  <h1>Flapper News</h1>
</div>

<!-- <like-book like="main.likeFunction()"></like-book>

<notification message="{{main.message}}"></notification>

<span>This is the textbox on the page</span>
<input type="text" ng-model="commentText">
<br>
<span>This is the texbox on the directive</span>
<book-comment text="commentText"></book-comment>
<br>

<button ng-click='main.toggleModal()'>Open Modal Dialog</button>
<modal-dialog show="main.modalShown" width="300px" height="200px">
  <p>
    Modal Content Goes Here
  </p>
</modal-dialog>
<br> -->


<span ng-show="main.addMessage">{{message}}</span>

<div class="comment-group" ng-repeat="post in main.posts | orderBy: '-date'">
  <span id="upvote" class="glyphicon glyphicon-thumbs-up" ng-click="main.incrementUpvotes(post)" ng-class="main.getUpvotedColor(post)"></span>
    {{post.upvotes}}
  <span class="post-body" style="font-size:20px; margin-left:10px;">
    <a ng-show="post.link" href="{{post.link}}">
      {{post.title}}
    </a>
    <span ng-hide="post.link">
      {{post.title}}
    </span>
  </span>
  <p ng-show="post.author">
    <a href="#/user/{{post.author}}">{{post.author}}</a> |
    <span ng-show="post.date">
      {{post.date | date}} at {{post.date | date : 'shortTime'}} |
    </span>
    <span>
      <a href="#/posts/{{post._id}}">Comments</a>
      ({{post.comments.length}})
    </span>
  </p>
</div> <!--ng-repeat-->

<div class="login-register" ng-hide="main.isLoggedIn()">
  <h3 class="join">Join the conversations!</h3>
  <h4>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h4>
</div>

<form ng-submit="main.addPost()" ng-show="main.isLoggedIn()" style="margin-top:30px;">
  <h3>Add a new post</h3>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Title" ng-model="main.title" />
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Link" ng-model="main.link" />
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>
