<div class="page-header">
  <h1>Flapper News</h1>
</div>

<div ng-show="auth.error" class="alert alert-danger" id="login-register-alert">
  <span>{{auth.error.message}}</span>
</div>
<form class="login-form" name="login" ng-submit="auth.logIn()">
  <h3>Log In</h3>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Username" name="username" ng-model="auth.user.username" auto-focus/>
  </div>

  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" name="password" ng-model="auth.user.password" />
  </div>

  <!-- <ng-transclude></ng-transclude> -->
  <button type="submit" class="btn btn-primary" ng-click="hideModal()">Log In</button>
</form>
