<div class="page-header">
  <h3>
    <a ng-show="post.post.link" href="{{post.post.link}}">
      {{post.post.title}}
    </a>
    <span ng-hide="post.link">
      {{post.post.title}}
    </span>
  </h3>
</div>

<div class="comment-group" ng-repeat="comment in post.post.comments | orderBy: '-date'">
  <span id="upvote" class="glyphicon glyphicon-thumbs-up"
    ng-click="post.incrementUpvotes(comment)" ng-class="post.getUpvotedColor(comment)"></span>
  {{comment.upvotes}}
  <span style="font-size:20px; margin-left:10px;">
    {{comment.body}}
  </span>
  <span ng-show="post.isCorrectUser(comment)">
    | <a href="" ng-click="post.deleteComment(comment)">Delete</a>
  </span>
  <p>
    {{comment.author}} | {{comment.date | date}} at {{comment.date | date: 'shortTime'}}
  </p>
</div>

<div class="login-register" ng-hide="post.isLoggedIn()">
  <h3 class="join">Join the conversations!</h3>
  <h4>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h4>
</div>

<form ng-submit="post.addComment()" ng-show="post.isLoggedIn()" style="margin-top:30px;">
  <h3>Add a new comment</h3>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Comment" ng-model="post.body" />
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>
