<div class="page-header">
  <h1>User Page</h1>
</div>

<p>
  Hello {{user.username}}!
</p>

<div ng-repeat="post in user.userPosts | orderBy: '-date'">
  <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)" ng-class="getUpvotedColor(post)"></span>
    {{post.upvotes}}
  <span style="font-size:20px; margin-left:10px;">
    <a ng-show="post.link" href="{{post.link}}">
      {{post.title}}
    </a>
    <span ng-hide="post.link">
      {{post.title}}
    </span>
  </span>
  <span ng-show="post.author">
    posted by <a href="#/user/{{post.author}}">{{post.author}}</a>
  </span>
  <span ng-show="post.date">
    on {{post.date | date}} at {{post.date | date : 'shortTime'}} |
  </span>
  <span>
      <a href="#/posts/{{post._id}}">Comments</a>
      ({{post.comments.length}})
  </span>
</div>
