html, body, * {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eee;
}

a {
  color: #00B7FF;
}

.remove {
  opacity: 0;
  transition: all 0.3s;
}

/************/
/*home.ejs*/
/************/
.comment-group {
  padding: 15px 20px 0 20px;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 1px #ccc;
}

.comment-group span.post-body {
  /*border: 1px solid red;*/
}

.comment-group p {
  position: relative;
  padding: 10px;
  margin: 0;
  margin-top: 20px;
  border-top: 1px solid #ccc;
}

.comment-group span#upvote {
  position: relative;
  top: 5px;
  font-size: 20px;
  padding: 5px 0 5px 5px;
}

.login-register {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 1px 1px #ccc;
  border-radius: 2px;
  margin-bottom: 30px;
}

.login-register h4 {
  padding: 0;
  margin: 0;
}

.login-register h3.join {
  padding: 0 0 20px 0;
  margin: 0;
}

/************/
/*index.ejs*/
/************/
#footer {
  background-color: #fff;
  padding: 20px;
}





.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
